<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/35988/IdeaProjects/Skillo-Final">
        <classes>
            <class name="org.yulianakoprinkova.PostTests.PostTests">
                <methods>
                    <include name="verifyUserCanCreatePost"/>
                    <include name="verifyUserCanLikePost"/>
                    <include name="verifyUserCanDislikePost"/>
                    <include name="verifyUserCanDeletePost"/>
                </methods>
            </class>
            <class name="org.yulianakoprinkova.ProfileTests.ProfileTests">
                <methods>
                    <include name="updateProfileInfo"/>
                </methods>
            </class>
            <class name="org.yulianakoprinkova.LoginTests.LoginHappyPathTests">
                <methods>
                    <include name="verifyTheUserCannotLoginWithInvalidCredentials"/>
                </methods>
            </class>
            <class name="org.yulianakoprinkova.RegisterTests.RegisterHappyPathTests">
                <methods>
                    <include name="verifyTheUserCanRegisterWithValidCredentials"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>